---
layout: page
title: Zoom Meetings
cover: '/assets/images/covers/cover3.jpg'
current: meetings
---

<article class="post link">
  <header class="post-header">
    <h3 class="post-title">General Information</h3>
  </header>
  <section class="post-excerpt link">
    <ul>
      <li><a href="https://calendar.google.com/calendar/embed?src=q3qu4vn32m8o31ql1bvko2aeu0%40group.calendar.google.com&ctz=Asia%2FHo_Chi_Minh">Full calendar</a></li>
      <li>Or add this email into Google calendar: <code>q3qu4vn32m8o31ql1bvko2aeu0@group.calendar.google.com</code></li>
      <li><a href="https://mega.nz/folder/vsBwWRQQ#QuW3d-VkLxmpoyPhWjjmUw">All recordings and chats</a></li>
      <li><a href="https://zoom.us/j/91790334157?pwd=MkI4bkt3bzVYcU9mWTVhUmFRRDlxdz09">Zoom meeting link</a> (passcode: <code>519922</code>)</li>
      <li>
        Research process
        <ul>
          <li>
            <a href="https://docs.google.com/document/d/1IgOj5-546lp220qPLdKcRGs1IjojYP-aCLzWzSmTrb8/edit">
              Quy trình mẫu khi research token
            </a>
          </li>
        </ul>
      </li>
      <li>
        Tham gia nhóm thảo luận, yêu cầu/ đăng ký chủ đề meeting
        <ul>
          <li>
            <a href="https://slack.botbie.io/">
              Slack
            </a>
          </li>

          <li>
            <a href="https://1surl.io/BotbieBlockchainTelegram">
              Telegram
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</article>

{% for meeting in site.data.meetings %}
<article class="post link">
  <header class="post-header">
    <h3 class="post-title">Session {{ meeting.session }}</h3>
  </header>
  <section class="post-excerpt link">
    {% if meeting.recording %}<p><a href="{{ meeting.recording }}">Recording</a></p>{% endif %}
    {% if meeting.chat %}<p><a href="{{ meeting.chat }}">Chat history</a></p>{% endif %}
    <p>Talks:</p>
    <ul>
      {% for talk in meeting.talks %}
      <li>
        {% if talk.slide %}<a href="{{ talk.slide }}">{% endif %}
          {{ talk.name }} - {{ talk.presenter }}
        {% if talk.slide %}</a>{% endif %}
        {% if talk.extra %}&nbsp;({{ talk.extra }}){% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>
</article>
{% endfor %}
