<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/about">About</a></li>
        <li class="nav-author {% if page.current == 'author' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/author">Contributors</a></li>
        {% for tag in site.tags %}
        {% assign tagSlug = tag[0] | slugify %}
        {% assign tagName = tag[0] | capitalize %}
        <li class="nav-speeches {% if page.url contains tagSlug %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/tag/{{ tagSlug }}">{{ tagName }}</a></li>
        {% endfor %}
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}/feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
